body {
  padding-left: 355px;
  width: 50%;
  height: 50%;
  align-items: center;
  background-color: rgb(243, 150, 238);
}
.red-button {
  color: red;
}
.red-button:hover {
  transform: scale(1.2);
}
